<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Join Game HC</title>
</head>
<body>
    <div><h1>JoinGameView</h1></div>

    <form asp-controller="Home" asp-action="JoinGame">
        <label asp-for="GameCode"></label>
        <br />
        <input asp-for="GameCode" />
        <br />
        <span asp-validation-for="GameCode"></span>
        <br />
    </form>
    <input type="button" value="submit" />
    @*<input type="button" value="Back" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />*@
</body>
</html>