<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Join Game HC</title>
</head>
<body>
    <div><h1>JoinGameView</h1></div>

    <label>Input Code</label>
    <br />
    <input type="text" placeholder="Write Code" />
    <br />
    <input type="button" value="submit" onclick="@("window.location.href='" + @Url.Action("NewGame", "Home") + "'");" /> @*Kom ihåg att den skickar till fel vy nu*@
</body>
</html>