@model HorribleCharadesMVC.Models.Game
<html xmlns="http://www.w3.org/1999/xhtml">
@Html.Hidden(Model.Code)
<head>
    <title>New Game HC</title>
</head>
<body>
    <div><h1>NewGameView</h1></div>
    <div>
        <p>Code to Join: [@Model.Code]</p>
        <br />
        <label>TeamName</label> @*Borde ändra label- och inputtaggarna till en asp label med ett attribut i viewModel sen*@
        <br />
        <input type="text" name="teamName" placeholder="Team1" />
        <br />
        <br />
        <input type="button" value="Play" onclick="@("window.location.href='" + @Url.Action("Main", "Play") + "'");" />
        

    </div>
</body>
</html>