@model HorribleCharadesMVC.Models.Charade

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1> Your Charade is... </h1>
    <p>@Model.charadeWord</p>
</body>
</html>