<html xmlns="http://www.w3.org/1999/xhtml">
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HorribleCharadesMVC.Viewmodels.Play.ScoreViewModel
@*@Html.Hidden(Model.game.Code)*@

<head>
    <title>Score</title>
</head>
<body>
    
    <h2>Team X, @Model.Teams[0].TeamName</h2>
    <h3>GUESSSED</h3>
    <h3>TIME </h3>
    <h3>POINTS</h3>
    <br />
    <span id="timer" style="font-size:3em; color:magenta; margin-left: 3em"></span>

    <script>
    //Scripts taggarna ska flyttas ut till en scriptfil. Kom ihåg att hänvisa till filen när vi flyttar it taggen också.
    var timeLeft = 3;
    var counter = setInterval(timer, 1000);
    function timer()
    {
        timeLeft -= 1;
        if (timeLeft <= 0)
        {
            clearInterval(counter);
            window.location.href = '/Play/Standing';
            return;
        }
    }

    </script>

</body>
</html>